// 不换行溢出省略号
@mixin nowrapEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 分类标签激活样式
@mixin tagActive {
  .tag-active {
    color: $base-color;
    background-color: #fcf6f5;
    border-radius: 20px;
  }
}

// 分类标签样式
@mixin categoryTag {
  .category {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    letter-spacing: 1px;
    color: #666;
    font-size: $font-size-small;

    span {
      position: relative;
      padding: 3px 6px;
      margin-left: 8px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -4px;
        transform: translateY(-50%);
        width: 1px;
        height: 10px;
        background-color: #ccc;
      }

      &:last-child::before {
        content: "";
        background-color: transparent;
      }
    }
  }
}